<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<!-- Levels log: ALL > TRACE > DEBUG > INFO > WARN > ERROR > FATAL -->
  	<Appenders>
    	<Console name="Console" target="SYSTEM_OUT">
        	<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} Level: %-5level Class: %logger{36} Message: %msg%n" />
        </Console>
        <!-- <File name="LogFile" fileName="logAndiamoTrust.log" immediateFlush="true" append="false"> -->
        <!-- 	<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} Level: %-5level Class: %logger{36} Message: %msg%n"/> -->
        <!-- </File> -->
	</Appenders>
    <Loggers>
    	<Root level="info">
        	<AppenderRef ref="Console"/>
			<!-- <AppenderRef ref="LogFile"/> -->
		</Root>
	</Loggers>
</Configuration>